<!--Start EDUCATION / EXPERIENCE-->
<section class="education">
  <div class="container">
      <h4>EDUCATION / EXPERIENCE</h4>
      <div class="row">
          <div class="col-md-6">
              <article class="exp">
                  <h5>eduction</h5>
                  <span>2011-2011</span>
                  <p>lorem ipsum is semply text descriptin the content</p>
              </article>    
          </div>
          <div class="col-md-6">
              <article class="exp">
                  <h5>eduction</h5>
                  <span>2011-2011</span>
                  <p>lorem ipsum is semply text descriptin the content</p>
              </article>    
          </div>
          <div class="col-md-6">
              <article class="exp">
                  <h5>eduction</h5>
                  <span>2011-2011</span>
                  <p>lorem ipsum is semply text descriptin the content</p>
              </article>    
          </div>
          <div class="col-md-6">
              <article class="exp">
                  <h5>eduction</h5>
                  <span>2011-2011</span>
                  <p>lorem ipsum is semply text descriptin the content</p>
              </article>    
          </div>
      </div>
  </div>
</section>
<!--End EDUCATION / EXPERIENCE-->