/*Start EDUCATION / EXPERIENCE*/
.education {
    padding: 20px;
}

.education h4 {
    position: relative;
    width: 295px;
    text-transform: uppercase
}

.education h4::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    left: -10px;
    border-top: 3px solid #FFF;
    border-left: 3px solid #FFF;
}

.education h4::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -5px;
    right: -10px;
    border-bottom: 3px solid #FFF;
    border-right: 3px solid #FFF;
}

.education .exp {
    border: 1px solid #FFF;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*End EDUCATION / EXPERIENCE*/