<div class="my-img">
    <img src="assets/qeno.jpg" alt="Qeno-img">
</div>
<div class="my-name">
    <h4>Mahmoud A. ElQenaweY</h4>
    <span> <i class="icon-location-pin"></i> Elmansoura</span>
</div>
<div class="my-media">
    <ul class="list-unstyled">
        <li><a href=""><i class="icon-social-facebook"></i></a></li>
        <li><a href=""><i class="icon-social-twitter"></i></a></li>
        <li><a href=""><i class="icon-social-tumblr"></i></a></li>
        <li><a href=""><i class="icon-social-github"></i></a></li>
        <li><a href=""><i class="icon-social-linkedin"></i></a></li>
        <li><a href=""><i class="icon-social-instagram"></i></a></li>
    </ul>
</div>
<div class="my-menu">
    <ul class="list-unstyled">
        <li><a routerLink="/home"><i class="icon-home"></i>Home</a></li>
        <li><a routerLink="/about"><i class="icon-info"></i>About</a></li>
        <li><a routerLink="/funfacts"><i class="icon-star"></i>Resume</a></li>
        <li><a routerLink="/education"><i class="icon-briefcase"></i>Education</a></li>
        <li><a routerLink="/portfolio"><i class="icon-badge"></i>Portfolio</a></li>
        <li><a routerLink="/testmonials"><i class="icon-people"></i>Testmonials</a></li>
        <li><a routerLink="/contact"><i class="icon-call-in"></i>Contact</a></li>
    </ul>
</div>
<div class="my-footer">
    <p>© Copyright 2018-2022 Qeno</p>
</div>