<!--Start about me-->
<section class="about-me">
    <div class="container">
        <h4>about basem</h4>
        <div class="row">
            <ul class="list-unstyled col-md-12">
                <li><i class="fa fa-arrow-left fa-sm"></i><b> Birthday</b>: Febrwary 2,1998</li>
                <li><i class="fa fa-arrow-left fa-sm"></i><b> Location</b>: Mansoura,egypt</li>
                <li><i class="fa fa-arrow-left fa-sm"></i><b> Email</b>: b.elsisy@gmail.com</li>
                <li><i class="fa fa-arrow-left fa-sm"></i><b> Phone</b>: +201015875343</li>
            </ul>
            <p class="col-12">Hello, My name is Nick Black. Lorem ipsum dolor sit amet, usu sumo dicant vulputate in. Quando fabellas adipiscing nam an. An vis congue oporteat, no eros facer suavitate eos. An debet affert aliquid ius. Veritus placerat est ea, est ne nominavi suscipit maluisset.</p>
        </div>
        <section class="skills">
            <div class="row">
                <div class="col-md-6 col-12">
                    <article class="skill">
                       <h5>Html/html5</h5>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-12">
                    <article class="skill">
                        <h5>Css/css3</h5>
                        <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-12">
                    <article class="skill">
                      <h5>Js/Jq</h5> 
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-12">
                    <article class="skill">
                      <h5>PhP/mysql</h5>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="975" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </article>
                </div>
            </div>
        </section><!--End skills-->
    </div>
</section>
<!--End about me-->