<!--Start testimonials-->
<section class="testimonials">
  <div class="container">
      <h4>testimonials</h4>
  <div id="testicarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="row">
              <img src="assets/imgs/testi-avatar.jpg" alt="alternate text" class="image-responsive col-md-2 d-none d-md-block">
              <div class="desc col-md-10">
              <p class="">lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.</p>
              <span>-Basem elsisy-</span>
              </div>
          </div>
      </div>
      <div class="carousel-item">
           <div class="row">
              <img src="assets/imgs/testi-avatar.jpg" alt="alternate text" class="image-responsive col-md-2 d-none d-md-block">
              <div class="desc col-md-10">
              <p class="">lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.</p>
              <span>-Basem elsisy-</span>
              </div>
          </div>
      </div>
      <div class="carousel-item">
           <div class="row">
              <img src="assets/imgs/testi-avatar.jpg" alt="alternate text" class="image-responsive col-md-2 d-none d-md-block">
              <div class="desc col-md-10">
              <p class="">lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.lorem ipsum is semply text descript the content.</p>
              <span>-Basem elsisy-</span>
              </div>
          </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#testicarousel" data-slide-to="0" class="active"></li>
      <li data-target="#testicarousel" data-slide-to="1"></li>
      <li data-target="#testicarousel" data-slide-to="2"></li>
    </ol>
  </div>
  </div>
</section>
<!--End testimonials-->