<!--Start Fun Facts-->
<section class="facts">                    
    <div class="container">
    <h4>fun facts</h4>
        <div class="row text-center">
            <div class="col-md-3">
                <article class="fact">
                    <i class="fa fa-check-circle fa-2x fa-fw"></i>
                    <p>179</p>
                    <span>completed projects</span>
                </article>
            </div>
            <div class="col-md-3">
                <article class="fact">
                <i class="fa fa-code fa-2x fa-fw"></i>
                <p>9579</p>
                <span>Line of codes</span>
                </article>
            </div>
            <div class="col-md-3">
                <article class="fact">
                <i class="fa fa-users fa-2x fa-fw"></i>
                <p>434</p>
                <span>number of clients</span>
                </article>
            </div>
            <div class="col-md-3">
                <article class="fact">
                <i class="fa fa-trophy fa-2x fa-fw"></i>
                <p>957</p>
                <span>International awards</span>
                </article>
            </div>
        </div>
    </div>
</section>
<!--End Fun Facts-->